/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Nov-2017, 13:39:58
    Author     : Straka Vladimír
*/

body {
    font-family: monospace;
}

.modry {
    background-color: #31ed4d;
}

#prvni {
    border: 5px solid #ff7a7a;
}