{extends layout.latte}

{block title}Adresy a residenti{/block}
{block body}
<h1>Výpis adres a residentů</h1>
<form>
    <input type="text" name="filtr"
           placeholder="Město, ulice nebo země">
    <input type="submit" class="btn btn-default" value="Hledej">
</form> 
<div class='container-fluid'>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Město</th>
                <th>Ulice</th>
                <th>Číslo popisné</th>
                <th>Země</th>
                <th>Poznámka</th>
                <th>Počet residentů</th>
                <th>Vypsat residenty</th>
                <th>Editovat adresu</th>
                <th>Smazat adresu</th>
            </tr>
        </thead>
        <colgroup>
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
        </colgroup>
        <tbody>
            {foreach $adresy as $adr}
                <tr>
                    <td>{$adr['city']}</td>
                    <td>{$adr['street_name']}</td>
                    <td>{$adr['street_number']}</td>
                    <td>{$adr['country']}</td>
                    <td>{$adr['name']}
                    <td>{if isset($adr['residenti'])}{$adr['residenti']}{else}0{/if}</td>
                    <td>
                        <form action="{link print_resident}" method="get">
                            <input type="hidden" name="id" value="{$adr['id_location']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{link edit_address}" method="get">
                            <input type="hidden" name="id" value="{$adr['id_location']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{link delete_address}" method="post">
                            <input type="hidden" name="id" value="{$adr['id_location']}">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{if isset($pocet)}
    <ul class="pagination">
        {for $i = 0; $i < $pocet; $i++}
            <li><a href="{link adresy}?offset={$i}">{$i + 1}</a></li>
            {/for}
    </ul>
{/if}
{/block}
