{extends layout.latte}

{block title}Bydliště{/block}

{block body}
<h1>Bydliště osob</h1>
<p>Nastavení filtru</p>
<hr>
<form method='post'>
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="nick" {if isset($filtr['nick'])}checked{/if}>
              Přezdívka
            </label>
            </div>  
          <div class="checkbox">
            <label>
              <input type="checkbox" name="date" {if isset($filtr['date'])}checked{/if}>
              Datum narození
            </label>
            </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="height" {if isset($filtr['height'])}checked{/if}>
              Výška
            </label>
            </div>
            <div class="checkbox">
            <label>
              <input type="checkbox" name="gender" {if isset($filtr['gender'])}checked{/if}>
              Pohlaví
            </label>
            </div>
      </div>
      <div class="col-lg-3">
        <div class="checkbox">
            <label>
              <input type="checkbox" name="street" {if isset($filtr['street'])}checked{/if}>
              Ulice
            </label>
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" name="number" {if isset($filtr['number'])}checked{/if}>
              Číslo Popisné
            </label>
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" name="zip" {if isset($filtr['zip'])}checked{/if}>
              PSČ
            </label>
        </div>
      </div>
      <div class="col-lg-4">
        Řadit podle:
        <div class="radio">
            <label>
              <input type="radio" name="radit" id="prijmeni" value="OrPr" {if $filtr['radit'] == 'OrPr'}checked{/if}>
              Přijmení
            </label>
        </div>
        <div class="radio">
            <label>
              <input type="radio" name="radit" id="datum" value="OrDn" {if $filtr['radit'] == 'OrDn'}checked{/if}>
              Data narození
            </label>
        </div>
        <div class="radio">
            <label>
              <input type="radio" name="radit" id="mesto" value="OrMe" {if $filtr['radit'] == 'OrMe'}checked{/if}>
              Města
            </label>
        </div>
      </div>
    <div class="col-lg-2">
        Řadit:
        <div class="checkbox">
            <div class="radio">
            <label>
              <input type="radio" name="vzestupne" id="vzestup" value="vzestup" {if $filtr['vzestupne'] == 'vzestup'}checked{/if}>
              Vzestupně
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="vzestupne" id="sestup" value="sestup" {if $filtr['vzestupne'] == 'sestup'}checked{/if}>
              Sestupně
            </label>
          </div>
        </div>
    </div>
  </div>
</div>
<hr>
<input type='submit' class='btn btn-primary col-lg-offset-11' value="Filtrovat">
</form> <br>
<div class='container-fluid'>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Přijmení</th>
                {if isset($filtr['nick'])}<th>Přezdívka</th>{/if}
                {if isset($filtr['date'])}<th>Datum narození</th>{/if}
                {if isset($filtr['height'])}<th>Výška</th>{/if}
                {if isset($filtr['gender'])}<th>Pohlaví</th>{/if}
                <th>Město</th>
                {if isset($filtr['street'])}<th>Ulice</th>{/if}
                {if isset($filtr['number'])}<th>Číslo popisné</th>{/if}
                {if isset($filtr['zip'])}<th>PSČ</th>{/if}
            </tr>
        </thead>
        <colgroup>
            <col class="col-lg-2">
            <col class="col-lg-2">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
        </colgroup>
        <tbody>
            {foreach $udaje as $os}
                <tr>
                    <td>{$os['first_name']}</td>
                    <td>{$os['last_name']}</td> 
                    {if isset($filtr['nick'])}<td>{if $os['nickname'] != NULL}{$os['nickname']}{/if}</td>{/if}
                    {if isset($filtr['date'])}<td>{if $os['birth_day'] != NULL}{$os['birth_day']}{/if}</td>{/if}
                    {if isset($filtr['height'])}<td>{if $os['height'] != NULL}{$os['height']}{/if}</td>{/if}
                    {if isset($filtr['gender'])}<td>{if $os['gender'] != NULL}{$os['gender']}{/if}</td>{/if}
                    <td>{if $os['city'] != NULL}{$os['city']}{/if}</td>
                    {if isset($filtr['street'])}<td>{if $os['street_name'] != NULL}{$os['street_name']}{/if}</td>{/if}
                    {if isset($filtr['number'])}<td>{if $os['street_number'] != NULL}{$os['street_number']}{/if}</td>{/if}
                    {if isset($filtr['zip'])}<td>{if $os['zip'] != NULL}{$os['zip']}{/if}</td>{/if}
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>
{/block}