{extends layout.latte}
{block title}Editace vztahu{/block}
{block body}
{*var_export($vztah)*}
{*var_export($typy)*}
<h1>Editace vztahu</h1>
<form method='post'>
    <div class="container-fluid">
        <div class='text-center'>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-2"><b>Jméno 1. osoby</b></div>
                <div class="col-lg-2"><b>Typ vztahu</b></div>
                <div class="col-lg-2"><b>Jméno 2. osoby</b></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-2">{$vztah['fn1']} {$vztah['ln1']}</div>
                <div class="col-lg-2">
                    <!--Tenhle hloupý postup jen kvůli čestině. V AJ bych nasosl tabulku relation_type a přes for_each ji vypsal-->
                    <select class="form-control" name="type" required> 
                        {foreach $typy as $typ}
                            <option value="{$typ['id_relation_type']}" {if $typ['id_relation_type'] == $vztah['id_relation_type']} selected {/if}> 
                                {$typ['czech']}
                            </option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-lg-2">{$vztah['fn2']} {$vztah['ln2']}</div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-offset-10 col-lg-2'>
                <input class="btn btn-primary" type="submit" onsubmit="return confirm('Uložit úpravy?')" value="Editovat vztah">
            </div>
        </div>
    </div>
</form>
{/block}