{extends layout.latte}

{block title}Editace adresy{/block}

{block body}
<h1>Editace adresy</h1>
<form method="post" class="form-horizontal">            
    <div class="form-group">    
        <label class="col-sm-2 control-label">Město</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="me"  value="{$data['city']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Ulice</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="ul"  value="{$data['street_name']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Číslo domu</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="cd" value="{$data['street_number']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">PSČ</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="psc" value="{$data['zip']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Země</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="coun" value="{$data['country']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Poznámka</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="desc" value="{$data['name']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Zeměpisná šířka</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="lat" value="{$data['latitude']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Zeměpisná délka</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="lon" value="{$data['longitude']}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden" name="id" value="{$data[id_location]}">
            <input class="btn btn-primary" type="submit" value="Upravit adresu">
        </div>
    </div>
</form>