{extends layout.latte}
{block title}Editace schůzky{/block}
{block body}

{*var_export($schuzka['id_location'])*}
{*var_export($lokace)*}
<h1>Editace schůzky</h1>
<div class="container">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="loc">Místo</label>
            <select class="form-control" name="loc" required>
                {foreach $lokace as $loc}
                    <option value="{$loc['id_location']}" {if $loc['id_location'] == $schuzka['id_location']}selected{/if}>
                        {$loc['id_location']} - {$loc['street_name']} {$loc['street_number']} {$loc['city']} {$loc['country']}{if !empty($loc['name'])} - {$loc['name']}{/if}
                    </option>
                {/foreach}
            </select>
            <br>

            <label for="start">Začátek schůzky - testovací, včil asi nepude, bo časové pásmo.</label>
            <input name="start" type="datetime-local" class="form-control" value="{$schuzka['start']}">
            <br>
            
            <label for="len">Délka schůzky v hodinách: </label>
            <input type="time" name="len" class="form-control" value="{$schuzka['duration']}">
            <br>
            
            <label for="desc"> Poznámka: </label>
            <input name="desc" type="text" class="form-control" value="{$schuzka['description']}">
            <br>
            
            <input class="btn btn-primary" type="submit" onsubmit="return confirm('Uložit úpravy?')" value="Editovat schůzku">
        </div>
    </form>
</div>
{/block}