{extends layout.latte}

{block title}Editace kontaktu{/block}

{block body}
{*var_export($kontakty)*}
<h1>Editace kontaktu</h1>
<div class="container-fluid">
    <form method="post" class="form-horizontal">
        {foreach $typy as $typ}
            {php $data = NULL}
            <div class="form-group">
                <label class="col-lg-offset-4 col-lg-1 control-label">{$typ['name']}</label>
                {foreach $kontakty as $kontakt}
                    {if $kontakt['id_contact_type'] == $typ['id_contact_type']}{php $data = $kontakt['contact']}{/if}
                {/foreach}
            <div class="col-lg-3">
                <input class="form-control" type="text" name="{$typ['name']}" value="{if isset($data)}{$data}{/if}">
            </div>
        </div>
    {/foreach}
    <div class="text-right">
        <input type="hidden" name="idP" value="{$_GET['id']}">
        <input class="btn btn-primary" type="submit" value="Ulož nové údaje">
    </div>
</form>
</div>
