{extends layout.latte}

{block title}Vypis osob{/block}

{block body}
<h1>Výpis osob</h1>
<form>  <!-- Nemusí být ani action ani method, 
        standartní je GET a posila to sobě. -->
    <input type="text" name="filtr"
           placeholder="Zadej hledanou osobu">
    <input type="submit" class="btn btn-default" value="Hledej">
</form> 

<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Pohlaví</th>
            <th>Město</th>
            <th>Ulice</th>
            <th>Země</th>
            <th>Počet kontaktů</th>
            <th>Počet schůzek</th>
            <th>Profil</th>
            <th>Editovat</th>
            <th>Smazat</th>
        </tr>
    </thead>
    {foreach $osoby as $os}
        <tr>
            <td>{$os['first_name']}</td>
            <td>{$os['last_name']}</td>
            <td>{$os['gender']}</td>
            <td>{$os['city']}</td>
            <td>{$os['street_name']}</td>
            <td>{$os['country']}</td>
            <td>{if isset($os['poc_kon'])}{$os['poc_kon']}{else}0{/if}</td>
            <td>{if isset($os['poc_sch'])}{$os['poc_sch']}{else}0{/if}</td>
            <td>
                <div class="text-center">
                    <form action="{link profile}" method="get">
                        <input type="hidden" name="id" value="{$os['id_person']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">

                    <form action="{link edit}" method="get">
                        <input type="hidden" name="id" value="{$os['id_person']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <form action="{link delete}" method="post" onsubmit="return confirm('Opravdu smazat?')">
                        <input type="hidden" name="id" value="{$os['id_person']}">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {/foreach}
</table>

{if isset($pocet)}
    <ul class="pagination">
    {for $i = 0; $i < $pocet; $i++}
        <li><a href="{link index}?offset={$i}">{$i + 1}</a></li>
    {/for}
    </ul>
{/if}
{/block}