<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{include title}</title>
        <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="{$basePath}/css/style.css"> -->
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {if !empty($_SESSION['user'])}
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Osoby <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{link index}">Seznam osob</a></li>
                            <li><a href="{link add_person_address}">Nová osoba a adresa</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Adresy <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{link new_address}">Nová adresa</a></li>
                            <li><a href="{link adresy}">Přehled adres a obyvatel</a></li>
                            <li><a href="{link bydliste}">Bydliště</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Schůzky <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{link new_meeting}">Nová schůzka</a></li>
                            <li><a href="{link print_meetings}">Výpis schůzek</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Vztahy <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{link print_relations}">Výpis vztahů</a></li>
                            <li><a href="{link new_relation}">Nový vztah</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Kontakty <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{link new_contact}">Nový kontakt</a></li>
                            <li><a href="{link print_contacts}">Výpis kontaktů</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{link logout}">
                            Logout: {$_SESSION['user']['login']}
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                    </li>
                {/if}
            </ul> 
        </div>
    </nav>
    <div class="container">
        {if isset($error)}
            <p>
                {$error}
            </p>
        {/if}    
        {include body}
    </div>
    <br>
    <footer class="footer">
        <div class="container">
            <table class='table'>
                <colgroup>
                    <col class="col-md-11">
                    <col class="col-md-1">
                </colgroup>
                <tr>
                    <td>Autor: Vladimír Straka</td>
                    <td>
                        <script>
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();

                            if (dd < 10) {
                                dd = '0' + dd;
                            }

                            if (mm < 10) {
                                mm = '0' + mm;
                            }

                            today = dd + '/' + mm + '/' + yyyy;
                            document.write(today);
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
</body>
</html>