{extends layout.latte}
{block title}Login{/block}
{block body}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form method="post" class="well">
            <label>Login</label><br>  
            <input class="form-control" type="text" name="log">
            <br>
            <label>Heslo</label><br>
            <input class="form-control" type="password" name="pass">
            <br>
            <div class="text-center"
                 <div class="btn-group">
                    <input type="submit" value="Přihlásit" class="btn btn-danger">
                    <a href="{link register}" class="btn btn-danger"> Registrovat </a>
                </div>
            </div>
            <!--
            <div class="text-left">
                <input type="submit" value="Přihlásit" class="btn btn-danger">
            </div>
            <div class="text-right">
                <a href="{*link register*}" class="btn btn-danger"> Registrovat </a>
            </div>
            --->
        </form>
    </div>
</div>

{/block}