{extends layout.latte}
{block title}Vypis účastníku schůzky{/block}
{block body}
{*var_export($adresa)*}

<h1>Účastníci schůzky</h1>

<div class='container-fluid'>
    <p>Schůzka se koná na adrese: {$adresa['street_name']} {$adresa['street_number']}, {{$adresa['city']}}, {$adresa['country']} - {$adresa['name']}</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Přijmení</th>
                <th>Profil</th>
                <th>Editovat</th>
                <th>Zrušit účast na schůzce</th>
            </tr>
        </thead>
        {foreach $skupina as $os}
            <tr>
                <td>{$os['first_name']}</td>
                <td>{$os['last_name']}</td>
                <td>
                    <div class="text-center">
                        <form action="{link profile}" method="get">
                            <input type="hidden" name="id" value="{$os['id_person']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <form action="{link edit}" method="get">
                            <input type="hidden" name="id" value="{$os['id_person']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <form action="{link delete_from_meeting}" method="post" onsubmit="return confirm('Opravdu zrušit?')">
                            <input type="hidden" name="idP" value="{$os['id_person']}">
                            <input type="hidden" name="idM" value="{$id}">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {/foreach}
    </table>
</div>
<br>
<hr>
<h2>Přidat účastníka</h2>
<form method='post'>
    <div class="container-fluid">
        <div class='text-center'>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-4">
                    <select class="form-control" name="idP"> 
                        {foreach $osoby as $os}
                            <option value="{$os['id_person']}">{$os['first_name']} {$os['last_name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-offset-6 col-lg-2'>
                <input class="btn btn-primary" type="submit" value="Přidat">
                <input type="hidden" name="idM" value="{$id}">
            </div>
        </div>
    </div>
</form>
{/block}