{extends layout.latte}

{block title}Nova osoba a adresa{/block}

{block body}
<h1>Nova osoba a adresa</h1>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Přezdívka*</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="pz" required value="{$osoba['pz']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Jméno*</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="jm" required value="{$osoba['jm']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Příjmení*</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="pr" required value="{$osoba['pr']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Datum narození</label>
        <div class="col-sm-2">
            <input class="form-control" type="date" name="dn" value="{$osoba['dn']}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Výška</label>
        <div class="col-sm-2">
            <input class="form-control" type="number" name="vy" value="{$osoba['vy']}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Pohlaví</label>
        <div class="col-sm-2">
            <select class="form-control" name="po">
                <option value="male" 
                        {if $osoba['po'] == 'male'}selected{/if}>Muž
                </option>
                <option value="female" 
                        {if $osoba['po'] == 'female'}selected{/if}>Žena
                </option>
            </select>
        </div>
    </div>
    <hr>            
    <div class="form-group">    
        <label class="col-sm-2 control-label">Město</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="me"  value="{$osoba['me']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Ulice</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="ul"  value="{$osoba['ul']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Číslo domu</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="cd" value="{$osoba['cd']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">PSČ</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="psc" value="{$osoba['psc']}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="Ulož nové údaje">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            * Povinné údaje
        </div>
    </div>
</form>


{/block}