{extends layout.latte}
{block title}Nový vztah{/block}
{block body}
{*var_export($osoby)*}
<h1>Nový vztah</h1>
<form method='post'>
    <div class="container-fluid">
        <div class='text-center'>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-2"><b>Jméno 1. osoby</b></div>
                <div class="col-lg-2"><b>Jméno 2. osoby</b></div>
                <div class="col-lg-2"><b>Typ vztahu</b></div>
                <div class="col-lg-2"><b>Popis vztahu</b></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-2">
                    <select class="form-control" name="id1" required> 
                        {foreach $osoby as $os}
                            <option value="{$os['id_person']}">{$os['first_name']} {$os['last_name']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control" name="id2" required> 
                        {foreach $osoby as $os}
                            <option value="{$os['id_person']}">{$os['first_name']} {$os['last_name']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control" name="type" required> 
                        {foreach $typy as $typ}
                            <option value="{$typ['id_relation_type']}">{$typ['czech']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="desc">
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-offset-10 col-lg-2'>
                <input class="btn btn-primary" type="submit" onsubmit="return confirm('Vytvořit vztah?')" value="Vytvořit nový vztah">
            </div>
        </div>
    </div>
</form>
{/block}