{extends layout.latte}
{block title}Nová schůzka{/block}
{block body}

{*var_export($schuzka['id_location'])*}
{*var_export($lokace)*}
<h1>Nová schůzka</h1>
<div class="container">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label for="loc">Místo</label>
            <select class="form-control" name="loc" required>
                {foreach $lokace as $loc}
                    <option value="{$loc['id_location']}">
                        {$loc['id_location']} - {$loc['street_name']} {$loc['street_number']} {$loc['city']} {$loc['country']}{if !empty($loc['name'])} - {$loc['name']}{/if}
                    </option>
                {/foreach}
            </select>
            <br>

            <label for="start">Začátek schůzky</label>
            <input name="start" type="datetime-local" class="form-control" required>
            <br>
            
            <label for="len">Délka schůzky v hodinách: </label>
            <input  name="len" type="time"class="form-control">
            <br>
            
            <label for="desc"> Poznámka: </label>
            <input name="desc" type="text" class="form-control" >
            <br>
            
            <input class="btn btn-primary" type="submit" onsubmit="return confirm('Uložit?')" value="Uložit schůzku">
        </div>
    </form>
</div>
{/block}