{extends layout.latte}

{block title}Nový kontakt{/block}

{block body}
<h1>Nové kontakty</h1>

<div class="container-fluid">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-offset-4 col-lg-1 control-label">Kontaktní osoba</label>
            <div class="col-lg-3">
                <select class="form-control" name="idP" required> 
                    {foreach $osoby as $os}
                        <option value="{$os['id_person']}">{$os['first_name']} {$os['last_name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>        
        {foreach $typy as $typ}
            <div class="form-group">
                <label class="col-lg-offset-4 col-lg-1 control-label">{$typ['name']}</label>
                <div class="col-lg-3">
                    <input class="form-control" type="text" name="{$typ['name']}">
                </div>
            </div>
        {/foreach}
        <div class="text-right">
            <input class="btn btn-primary" type="submit" value="Uložit kontakty">
        </div>
    </form>
</div>