{extends layout.latte}

{block title}Nová adresa{/block}

{block body}
<h1>Nová adresa</h1>
<form method="post" class="form-horizontal">            
    <div class="form-group">    
        <label class="col-sm-2 control-label">Město</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="me"  value="{$data['me']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Ulice</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="ul"  value="{$data['ul']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Číslo domu</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="cd" value="{$data['cd']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">PSČ</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="psc" value="{$data['psc']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Země</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="coun" value="{$data['coun']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Poznámka</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="desc" value="{$data['desc']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Zeměpisná šířka</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="lat" value="{$data['lat']}">
        </div>
    </div>

    <div class="form-group">    
        <label class="col-sm-2 control-label">Zeměpisná délka</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="lon" value="{$data['lon']}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="Ulož adresu">
        </div>
    </div>

</form>