{extends layout.latte}
{block title}Vypis schůzek{/block}
{block body}
{*var_export($schuzky)*}
<h1>Výpis schůzek</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Datum a čas</th>
            <th>Délka schůzky</th>
            <th>Poznámka</th>
            <th>Místo</th>
            <th>Počet účastníků</th>
            <th>Vypsat účastníky</th>
            <th>Editovat schůzku</th>
            <th>Smazat schůzku</th>
        </tr>
    </thead>
    {foreach $schuzky as $sch}
        <tr>
            <td>{(new DateTime($sch['start']))->format('d.m.Y G:i:s')}</td>
            <td>{$sch['duration']}</td>
            <td>{$sch['description']}</td>
            <td>{if !empty($sch['street_name'])}{$sch['street_name']}{/if} {$sch['street_number']}
                {if !empty($sch['city'])}, {$sch['city']}{/if}{if !empty($sch['country'])}, {$sch['country']}{/if}
                {if !empty($sch['name'])} - {$sch['name']}{/if}</td>
            <td>{$sch['ucastnici']}</td>
            <td>
                <div class="text-center">
                    <form action="{link meeting_party}" method="get"> 
                        <input type="hidden" name="id" value="{$sch['id_meeting']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <form action="{link edit_meeting}" method="get">
                        <input type="hidden" name="id" value="{$sch['id_meeting']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <form action="{link delete_meeting}" method="post" onsubmit="return confirm('Opravdu smazat?')">
                        <input type="hidden" name="id" value="{$sch['id_meeting']}">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {/foreach}
</table>
    
    {if isset($pocet)}
    <ul class="pagination">
        {for $i = 0; $i < $pocet; $i++}
            <li><a href="{link print_meetings}?offset={$i}">{$i + 1}</a></li>
            {/for}
    </ul>
{/if}
{/block}