{extends layout.latte}
{block title}Vypis vztahů{/block}
{block body}
{*var_export($vztahy)*}
<h1>Výpis vztahů</h1>
<div class="row">
    <form>
        <div class="col-lg-2">
            <input type="text" name="filtr" placeholder="Vyhledat dle jména">
        </div>
        <div class="col-lg-2">
            <input type="submit" class="btn btn-default" value="Hledej">
        </div>
    </form>
    <form>
        <div class="col-lg-2">
            <select class="form-control" name="type"> 
                {foreach $typy as $typ}
                    <option value="{$typ['id_relation_type']}" {if isset($_GET['type'])}{if $_GET['type'] == $typ['id_relation_type']} selected {/if}{/if}>
                        {$typ['czech']}
                    </option>
                {/foreach}
            </select>
        </div>
        <div class="col-lg-2">
            <input type="submit" class="btn btn-default" value="Filtruj">
        </div>
    </form>
    <div class="col-lg-offset-2 col-lg-1">
        <form>
            <input type="submit" class="btn btn-primary" value="Resetovat filtr">
        </form>
    </div>
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jméno 1. osoby</th>
            <th>Jméno 2. osoby</th>
            <th>Vzájemný vztah</th>
            <th>Editovat vztah</th>
            <th>Smazat vztah</th>
        </tr>
    </thead>
    {foreach $vztahy as $vz}
        <tr>
            <td>{$vz['fn1']} {$vz['ln1']}</td>
            <td>{$vz['fn2']} {$vz['ln2']}</td>
            <td>{$vz['czech']}</td>
            <td>
                <div class="text-center">
                    <form action="{link edit_relation}" method="get">
                        <input type="hidden" name="id" value="{$vz['id_relation']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <form action="{link delete_relation}" method="post" onsubmit="return confirm('Opravdu smazat?')">
                        <input type="hidden" name="id" value="{$vz['id_relation']}">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {/foreach}
</table>

{if isset($pocet)}
    <ul class="pagination">
        {for $i = 0; $i < $pocet; $i++}
            <li><a href="{link print_relations}?offset={$i}{if isset($_GET['type'])}&type={$_GET['type']}{/if}">{$i + 1}</a></li>
            {/for}
    </ul>
{/if}
{/block}