{extends layout.latte}

{block title}Kontakty{/block}
{block body}
<h1>Výpis kontaktů</h1>
<div class="row">
    <form>
        <div class="col-lg-2">
            <input type="text" name="filtr" placeholder="Hledat jméno nebo kontakt">
        </div>
        <div class="col-lg-2">
            <input type="submit" class="btn btn-default" value="Hledej">
        </div>
    </form>
    <form>
        <div class="col-lg-2">
            <select class="form-control" name="type"> 
                {foreach $typy as $typ}
                    <option value="{$typ['id_contact_type']}" {if isset($_GET['type'])}{if $_GET['type'] == $typ['id_contact_type']} selected {/if}{/if}>
                        {$typ['name']}
                    </option>
                {/foreach}
            </select>
        </div>
        <div class="col-lg-2">
            <input type="submit" class="btn btn-default" value="Filtruj">
        </div>
    </form>
    <div class="col-lg-offset-2 col-lg-1">
        <form>
            <input type="submit" class="btn btn-primary" value="Resetovat filtr">
        </form>
    </div>
</div>
<br>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jméno kontaktní osoby</th>
            <th>Typ kontaktu</th>
            <th>Kontakt</th>
            <th>Editovat kontakty osoby</th>
            <th>Smazat kontakt</th>
        </tr>
    </thead>
    {foreach $data as $kon}
        <tr>
            <td>{$kon['first_name']} {$kon['last_name']}</td>
            <td>{$kon['name']}</td>
            <td>{$kon['contact']}</td>
            <td>
                <div class="text-center">
                    <form action="{link edit_contact}" method="get">
                        <input type="hidden" name="id" value="{$kon['id_person']}">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div class="text-center">
                    <form action="{link delete_contact}" method="post" onsubmit="return confirm('Opravdu smazat?')">
                        <input type="hidden" name="id" value="{$kon['id_contact']}">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {/foreach}
</table>

{if isset($pocet)}
    <ul class="pagination">
        {for $i = 0; $i < $pocet; $i++}
            <li><a href="{link print_contacts}?offset={$i}{if isset($_GET['type'])}&type={$_GET['type']}{/if}">{$i + 1}</a></li>
            {/for}
    </ul>
{/if}