{extends layout.latte}
{block title}Residenti{/block}
{block body}
{*var_export($res)*}

<h1>Residenti</h1>
<div class='container-fluid'>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Přijmení</th>
                <th>Profil</th>
                <th>Editovat</th>
                <th>Odstěhovat</th>
            </tr>
        </thead>
        {foreach $res as $os}
            <tr>
                <td>{$os['first_name']}</td>
                <td>{$os['last_name']}</td>
                <td>
                    <div class="text-center">
                        <form action="{link profile}" method="get">
                            <input type="hidden" name="id" value="{$os['id_person']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <form action="{link edit}" method="get">
                            <input type="hidden" name="id" value="{$os['id_person']}">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <form action="{link move_out}" method="post" onsubmit="return confirm('Opravdu zrušit?')">
                            <input type="hidden" name="idP" value="{$os['id_person']}">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {/foreach}
    </table>
</div>
<br>
<hr>
<h2>Přidat residenta</h2>
<form method='post'>
    <div class="container-fluid">
        <div class='text-center'>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-4">
                    <select class="form-control" name="idP" required> 
                        {foreach $osoby as $os}
                            <option value="{$os['id_person']}">{$os['first_name']} {$os['last_name']}</option>
                        {/foreach}
                    </select>
                </div>
                <input type="hidden" name="idL" value="{$_GET['id']}">
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-offset-10 col-lg-2'>
                <input class="btn btn-primary" type="submit" value="Přidat">
            </div>
        </div>
    </div>
</form>
{/block}