{extends layout.latte}
{block title}Profil{/block}
{block body}
{*var_export($osoba)*}
{*var_export($vztahy)*}
{*var_export($kontakty)*}
<div class="row">
    <div class="col-lg-6">
        <table class="table">
            <tr>
                <td>{$osoba['first_name']} {$osoba['last_name']}</td>
            </tr>
            <tr>
                <td>Datum narození: {$osoba['birth_day']}</td>
            </tr>
            <tr>
                <td>Bydliště: {$osoba['street_name']} {$osoba['street_number']}, {$osoba['city']}, {$osoba['country']}</td>
            </tr>
        </table>
    </div>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingCon">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCon" aria-expanded="false" aria-controls="collapseCon">
                    Kontakty
                </a>
            </h4>
        </div>
        <div id="collapseCon" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCon">
            <div class="panel-body">
                <div class="container-fluid">
                    {foreach $kontakty as $kontakt}
                        <div class="row">
                            <div class="col-lg-4">
                                {$kontakt['name']} - {$kontakt['contact']}
                            </div>
                        </div>
                    {/foreach}
                    <form action="{link edit_contact}" method="get">
                        <input type="hidden" name="id" value="{$osoba['id_person']}">
                        <input type="submit" class="btn btn-primary" value="Přidat a editovat kontakty">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {if !empty($vztahy)}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Vztahy
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Přijmení</th>
                                <th>Druh vztahu</th>
                                <th>Profil</th>
                                <th>Editovat vztah</th>
                                <th>Smazat vztah</th>
                            </tr>
                        </thead>
                        {foreach $vztahy as $os}
                            <tr>
                                <td>{if $os['id2'] == $osoba['id_person']}{$os['fn1']}{else}{$os['fn2']}{/if}</td>
                                <td>{if $os['id2'] == $osoba['id_person']}{$os['ln1']}{else}{$os['ln2']}{/if}</td>
                                <td>{$os['czech']}</td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link profile}" method="get">
                                            <input type="hidden" name="id" value="{if $os['id2'] == $osoba['id_person']}{$os['id1']}{else}{$os['id2']}{/if}">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link edit_relation}" method="get">
                                            <input type="hidden" name="id" value="{$os['id_relation']}">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link delete_relation}" method="post" onsubmit="return confirm('Opravdu smazat?')">
                                            <input type="hidden" name="id" value="{if $os['id2'] == $osoba['id_person']}{$os['id1']}{else}{$os['id2']}{/if}">
                                            <button type="submit" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    {/if}
    {if !empty($schuzky)}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Schůzky
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Datum a čas</th>
                                <th>Délka schůzky</th>
                                <th>Poznámka</th>
                                <th>Místo</th>
                                <th>Vypsat účastníky</th>
                                <th>Editovat schůzku</th>
                                <th>Zrušit účast na schůzce</th>
                            </tr>
                        </thead>
                        {foreach $schuzky as $sch}
                            <tr>
                                <td>{$sch['start']}</td>
                                <td>{$sch['duration']}</td>
                                <td>{$sch['description']}</td>
                                <td>{if !empty($sch['street_name'])}{$sch['street_name']}{/if} {$sch['street_number']}
                                    {if !empty($sch['city'])}, {$sch['city']}{/if}{if !empty($sch['country'])}, {$sch['country']}{/if}
                                    {if !empty($sch['name'])} - {$sch['name']}{/if}</td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link meeting_party}" method="get"> 
                                            <input type="hidden" name="id" value="{$sch['id_meeting']}">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link edit_meeting}" method="get">
                                            <input type="hidden" name="id" value="{$sch['id_meeting']}">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <form action="{link delete_from_meeting}" method="post" onsubmit="return confirm('Opravdu zrušit?')">
                                            <input type="hidden" name="idP" value="{$osoba['id_person']}">
                                            <input type="hidden" name="idM" value="{$sch['id_meeting']}">
                                            <button type="submit" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    {/if}
</div>


{/block}