{extends layout.latte}
{block title}Registrace{/block}
{block body}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form method="post" class="well">
            <label>Login</label><br>  
            <input class="form-control" type="text" name="log">
            <br>
            <label>Heslo</label><br>
            <input class="form-control" type="password" name="pass">
            <br>
            <label>Potvrdit heslo</label><br>
            <input class="form-control" type="password" name="conf">
            <br>
            <input type="submit" value="Registrovat" class="btn btn-danger">
        </form>
    </div>
</div>


{/block}